@import "../../constants/constants";

$step_row_box_shadow_color: #AEB0B2;
.step-row {
  background-color: $white;
  box-shadow: 0 1px 1px 0 $step_row_box_shadow_color;
  height: 64px;

  padding-left: 21px;
  padding-top: 19px;
  color: $black;
  font-size: 20px;
  line-height: 24px;
  text-align: left;

  &--disabled {
    opacity: 0.5;
  }
}

